    <!-- ******DOCS****** -->
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">开发指南</h2>

            <div class="block">
                <h3 class="sub-title text-center">配置GSrpc开发环境</h3>
                <p class="text-center">
                    {{content}}
                </p>
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">更多信息</h3>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="http://gsrpc.gitbooks.io/document/content/zh-cn/index.html" target="_blank">访问GitBook</a>
                </p>
            </div><!--//block-->

            </div><!--//docs-inner-->
        </div><!--//container-->
    </section><!--//docs->
