    <!-- ******DOCS****** -->
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">首次使用</h2>
            <div class="block">
                <h3 class="sub-title text-center">查看完整文档</h3>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/twbs/bootstrap" target="_blank">更多请访问GitBook</a>
                </p>
            </div><!--//block-->

            </div><!--//docs-inner-->
        </div><!--//container-->
    </section><!--//docs->
