    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">特色</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> 支持自定义属性的IDL </li>
                <li><i class="fa fa-check"></i> 由go语言编写的代码生成器 </li>
                <li><i class="fa fa-check"></i> 分层体系结构，灵活定制 </li>
                <li><i class="fa fa-check"></i> 优先支持语言：golang/java/object-c/c/c++ </li>
                <li><i class="fa fa-check"></i> 高效的序列化/反序列化生成代码</li>
                <li><i class="fa fa-check"></i> 双向RPC调用 </li>
                <li><i class="fa fa-check"></i> 专为移动应用优化 </li>
                <li><i class="fa fa-check"></i> 与<strong>gsmake</strong>紧密集成 </li>
                <li><i class="fa fa-check"></i> 与<strong>gsdocker移动游戏开发框架</strong>紧密集成</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
